<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102345184774-otnuk38tds11g3rcc7l3o50rnu1ultju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102345184774-otnuk38tds11g3rcc7l3o50rnu1ultju</string>
	<key>API_KEY</key>
	<string>AIzaSyD7OrX7iHfzLulSENLliGp9QRSAewP_spU</string>
	<key>GCM_SENDER_ID</key>
	<string>102345184774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Janney.MyJanney.dev</string>
	<key>PROJECT_ID</key>
	<string>mobile-online-access</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-online-access.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102345184774:ios:4fae0af16a42e36f5e1587</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-online-access.firebaseio.com</string>
</dict>
</plist>